export(
  mergeCsv,
  parseCommandArgs,
  msplit,
  rbatch, rbatch.default, rbatch.local, rbatch.local.run, rbatch.lsf, rbatch.mosix
)

#import(parallel)
#importFrom(parallel, mclapply, detectCores)

importFrom("stats", "runif")
importFrom("utils", "read.csv", "write.csv")
